.userbox{
    border-radius:5px; 
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    position: relative;
    margin-top: 10px;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    min-height:205px;
    .user-photo{
        display:inline-block;
        width: 100px;
        height: 100px;
        background:#000;
        margin-top: 0px;
        border-radius:50%;  
    }
    .user-name{
        font-size: 20px;
        font-weight:bold;
    }
    .user-mail{
        font-size: 16px;
    }
    .login-tipe{
        position: absolute;
        font-size: 16px;
        margin: auto;
        left: 0;
        right: 0;
        top: -40px;
        bottom: 0;
        height: 22px;
        .button{
            margin-top: 10px;
        }
    }
    
    div{
        margin: 10px 0px; 
        color: #666;
    }
}

.ui.modal.login-modal{
    .header{
        div{
            display: inline-block;
            .iconfont{
                font-size: 22px;
                margin-right: 15px;
            }
        }
    }

    .content{
        margin:0px auto;
        width: 100%;

        .login-admin-box{

            .login-flash{
                margin: 0em 0em 0.28571429rem 0em;
                color: #0E6EB8;
                font-size: 0.92857143em;
                font-weight: bold;
                text-transform: none;
                margin-left: 10px;
            }
        }

        .button{
            // padding-right: 0px !important;
            padding-left: 2% !important;
            transition: .5s;

            &.login-github:hover{
                color: #0E6EB8;
            }

            &.login-qq:hover{
                color: #B03060;
            }

            &.login-admin:hover{
                color: #B413EC;
            }

            .iconfont{
                margin-right: 10px;
                font-size: 22px;
            }
            
        }
    }

    
}
