.article-box{
    border-bottom:1px solid #ddd; 
    margin-bottom:10px;
    .artice-footer{
        font-size: 13px;
        color: #666;
        overflow: hidden;
        .l{
            float: left;
        }
        .r{
            float: right
        }
    }
    &:last-child{
        margin-bottom:0px;
    }
}