.article-list{
    background:#fff;
    font-family:"PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-radius:5px; 
    margin-bottom:10px;
    padding:20px 20px 0 20px;
    .article-title{
        color: #105cb6;
        cursor: pointer;
        text-decoration:underline;
        &:active,&:hover{
            color: red; 
        }
    }
    .article-content{
        color: #333;
        font-size:16px;
        font-weight:200 !important;
        margin:10px;

        overflow: hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
    }
    .artice-footer-warp{
        padding-bottom:20px;
        .artice-footer{
            font-size: 13px;
            border-bottom:1px solid #ddd; 
            color: #333;
            padding-bottom:5px;
            overflow: hidden;
            .l{
                float: left;
            }
            .r{
                float: right
            }
        }
        &:last-child{
            margin-bottom:0px;
        }
    }
}