#About{
    text-align: center;
    overflow: hidden;
    .me-pic{
        display: block;
        margin:20px auto 20px auto;
        width: 40%;
        overflow: hidden;
    }
    .about-content{
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px) {
    #About{
       h1{
           font-size: 1.5rem;
       }
    }
}

@media only screen and (max-width: 360px) {
    #About{
        h1{
            font-size: 1.2rem;
        }
    }
}