<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <link rel="stylesheet" href="css/<%= chunk %>.css" />
    <% } %>
    <title></title>
</head>
<body>
    <div class="app"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script type="text/javascript" src="js/<%= chunk %>.js" ></script>
    <% } %>
</body>
</html>