<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <% if ( ['vendor','semantic','jquery'].indexOf(chunk) === -1 ){ %>
            <% if( htmlWebpackPlugin.options.title.match('dev') ){ %>
                 <link rel="stylesheet" href="http://localhost:8080/dist/css/<%= chunk %>.css" />
            <% } else{ %>
                <link rel="stylesheet" href="/css/<%= chunk %>.css" />
            <% } %>   
        <% } %>
    <% } %>
</head>
<body>
    <div class="app"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <% if( htmlWebpackPlugin.options.title.match('dev') ){ %>
            <script type="text/javascript" src="http://localhost:8080/dist/js/<%= chunk %>.js"></script>
        <% } else{ %>
            <script type="text/javascript" src="/js/<%= chunk %>.min.js" ></script>
        <% } %>  
    <% } %>
</body>
</html>