<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <% if ( ['vendor','semantic','jquery'].indexOf(chunk) === -1 ){ %>
            <link rel="stylesheet" href="http://localhost:8080/css/<%= chunk %>.css" />
        <% } %>
    <% } %>
    <title></title>
</head>
<body>
    <div class="app"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script type="text/javascript" src="http://localhost:8080/js/<%= chunk %>.min.js" ></script>
    <% } %>
</body>
</html>