
.ui.form{
    height: 100%;

    .field{

        label{
            display: inline-block;
            font-size: 15px !important;
            margin-bottom:10px !important; 
        }
        .articlesbox{
            min-height: 200px;
        }
    }   

    .btns{
        float: right;
        margin-top: 100px;
    }
}

.markIt-warp{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px !important;
    li{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        float: left;
        & span.iconfont{
            &:hover{
                opacity:.8;
            }
            &.active{
                color:#0E6EB8;
            }
            display: inline-block !important;
            vertical-align: middle !important;
        }
        
        &.cut{
            width: 1px;
            height: 20px;
            border-right:1px solid #ddd;
            &:first-child{
                border: none;
                margin: 0;
            }
        }
    }
}

.preview-box{
    &.hidden{
        display: none;
    }
    .preview-head{
        border-bottom:  1px solid #ccc;
        padding-bottom:10px; 
    }
    .preview-content{
        margin-top: 10px;
    }
    margin-top: 10px;
    padding:0.78571429em 1em;
    border: 1px solid #ccc;
    border-radius: 0.28571429rem;
    min-height: 200px;
    background-color:none repeat scroll 0 0 #FAFAFA;
}

.lablebox-warp{
    .labelbox{
        margin-bottom: 10px;
        .lable{
            margin: 5px 10px;
            .deleteIcon{ 
                cursor: pointer;
                margin-right: 0em;
                margin-left: 0.5em;
                font-size: 0.92857143em;
                opacity: 0.5;
                -webkit-transition: background 0.1s ease;
                transition: background 0.1s ease;
            }
        }
    }
}