.article-box{
    border-bottom:1px solid #ddd; 

    .artice-footer{
        font-size: 13px;
        color: #666;
        overflow: hidden;
        .l{
            float: left;
        }
        .r{
            float: right
        }
    }

}