.article-list{
    background:#fff;
    .article-title{
        position: relative;
        color: #333;
        cursor: pointer;
        font-size: 16px;
        &:active,&:hover{
            color: red; 
        }
        .loader{
            position: absolute !important;
            left: 95% !important;
        }
    }

    .article-content{
        position: relative;
        color: #333;
        font-size:14px;
        font-weight:200 !important;

        margin:10px;
        overflow: hidden;
        line-height: 20px; 
        max-height: 40px;
    }
    
    .ellipsis::after{
        content: "..."; 
        position: absolute;
        bottom: 0;
        right: 0; 
        padding-left: 40px;
        background: -webkit-linear-gradient(left, transparent, #fff 55%);
        background: -o-linear-gradient(right, transparent, #fff 55%);
        background: -moz-linear-gradient(right, transparent, #fff 55%);
        background: linear-gradient(to right, transparent, #fff 55%); 
    }

    .artice-footer-warp{
        .artice-footer{
            margin-bottom: 20px;
            font-size: 12px;
            border-bottom:1px solid #ddd; 
            color: #333;
            padding-bottom:15px;
            overflow: hidden;
            .artice-read{
                margin-left:15px;
            }
            .l{
                float: left;
            }
            .r{
                float: right
            }
            @media screen and (max-width:500px) {
                .r{
                    display: none;
                }
                .artice-read.l{
                    float: right;
                }
            }
        }
    }
}