@mixin full-box{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
}

.article-content-warp{
    padding-top:20px; 
    width: 75%;
    // margin: 64px auto 0 auto;
    margin: 64px 0% 0 5%;
    // overflow: scroll;
    // @include full-box();
    @media screen and (max-width:700px) {
        width: 90%;
    }
    .article-back{
        color:blue;
        font-size:1rem;
        padding:3% 0% 0% 3%;
        font-weight:bold;
        text-decoration:underline;
        cursor: pointer;
    }
    .article-box{
        pre code{
            display:block;
            width: 100%;
            overflow-x:scroll;
            border:1px solid #ddd;
            padding:10px;
        }
        padding:2.5%;
        p{
            display: inline-block;
            width: 100%;
            line-height: 1.7em;
        }
        img{
            position: relative;
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 668px;
            min-width: 120px;
            min-height: 120px;
        }
        .article-title{
            color: #000;
            display: inline-block;
            font-size:1.4rem;
            font-weight:bold;
            line-height: 1.7em;
            margin-bottom: 20px;
        }
        .article-lable{
            font-size: 15px;
            font-weight:bold;
            margin-top:20px;
            padding-bottom: 15px;
            border-bottom: 1px dotted #E2E2E2;
        }
        .article-body{
            margin-top:15px;
            padding-bottom: 15px;
            font-size: 15px;
            border-bottom: 1px dotted #E2E2E2;
        }
        .article-flies{
            margin-top:15px;
            .header{
                // font:20px !important;
            }
            .file{
                cursor: pointer;
                margin-bottom: 15px;
                &:hover{
                    color:red;
                    font-weight:bold;
                }
                span{
                    display: inline-block
                }
                .file-name{
                    font-weight:bold;
                     margin-right: 10px;
                }
                .file-size{
                    font-size: 0.9rem;
                }
            }
        }
    }
    .article-loading-mask{
        width: 100%;
        // @media only screen and (max-width: 700px){
        //     &{
        //         width: 100%;
        //     }
        // }
    }
}

.tipe-title{
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border-left: 6px solid #ddd;
}

@media only screen and (max-width: 768px){
    .artice-createtime{
        display: none !important;
    }
}
