body{
    font-size: 100%;
    background: #ebebeb !important;
    width: 100%;
}

.app{
    background:#ebebeb;
    width: 90%;
    // height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.m-content{
    overflow: hidden;
    margin-left: 290px;
    height:100%;
    background: #ebebeb !important;
}

.m-content .container{
    overflow: hidden; 
    margin-top: 10px;
    background-color: #fff !important;
    border-radius:5px; 
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    padding: 20px;
}

.m-content #Artice.container{
    background-color:#ebebeb !important;
    padding:0px;
}

.hidden{
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .m-content{
        margin-top:0px;
        margin-left: 0px;
    }
}