.l{
    float: left;
}
.r{
    float: right;
}

.article-box{
   background-color: #ddd;
   padding: 1.5%;
   margin-bottom: 10px;
   border-radius:5px;
   overflow: hidden;
   h3{
     display:inline-block;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     width: 70%;
     margin: 0;
   }
   .option{
     display: inline-block;
     vertical-align:middle;
     .iconfont{
        display: inline-block;
        cursor: pointer;
        margin: 0px 10px;
     }
     .icon-shanchu{
        vertical-align:middle;
        font-size: 18px;
     }
     .icon-bianji{
        vertical-align:top;
     }
   }
}